{% extends 'base.html.twig'%}
{%block title%} Liste des Bands {%endblock%}
{% block body %}
  {%for bandd in band %}
  <li> {{bandd.getName()}}</li>
  <img src="{{bandd.getPictureS()}}">
  {%endfor%}
  {%endblock%}
